[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "puppet/modules/rvm"]
	path = puppet/modules/rvm
	url = https://github.com/maestrodev/puppet-rvm
[submodule "golja-gnupg"]
	path = puppet/modules/golja-gnupg
	url = https://github.com/n1tr0g/golja-gnupg
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
